/* GENERAL STYLES */
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
}
/* Typography */
/* Margin */
.mt30{
    margin-top: 30px;
}

.mt50{
    margin-top: 50px;
}

.mb30{
    margin-bottom: 30px;
}

.mb50{
    margin-bottom: 50px;
}


/* Div principale che setta la vh a 100% */
#spoty-app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*  Main section con flex grow 1 per occupare tutto lo spazio tranne quello del player */
#spoty-main{
    display: flex;
    flex-grow: 1;
}

/* SIDEBAR */
#spoty-sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    background: black;
}
/* Sidebar top */
.sidebar-logo-nav{
    flex-grow: 1;
    background: black;
}
/* Sidebar bottom */
.sidebar-account{
    height: 100px;
    background: #222326;
}

/* CONTENUTI MAIN CENTRALI */
#spoty-main-contents{
    position: relative;
    flex-grow: 1;
    background:linear-gradient(120deg, #1db954, #191414);
}
/* Top bar */
.top-bar-elements{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
/* Contenuti scrollable */
.scrollable-elements{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 90px 30px;
}

.menu-nav-scrollable{
    height: 80px;
    background: black;
}

.scrollable-elements section{
    height: 200px;
}

/* Player section a fondo pagina */
#spoty-player{
    height: 80px;
    background: #282828;
}